<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.asu.bscs.sjmusgro.fueltracker" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.asu.bscs.sjmusgro.fueltracker.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.asu.bscs.sjmusgro.fueltracker.FuelEntryActivity"
            android:label="@string/title_activity_fuel_entry" >
        </activity>
        <activity
            android:name="edu.asu.bscs.sjmusgro.fueltracker.ViewFuelEntriesActivity"
            android:label="@string/title_activity_view_fuel_entries" >
        </activity>
    </application>

</manifest>
